<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
 <display-name>Arquitectura Java Sólida</display-name>
 <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>classpath:applicationContext.xml</param-value>
 </context-param>
 <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
 <servlet>
  <display-name>ControladorLibros</display-name>
  <servlet-name>ControladorLibros</servlet-name>
  <servlet-class>com.arquitecturajavasolida.aplicacion.controlador.ControladorLibros</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>ControladorLibros</servlet-name>
  <url-pattern>*.do</url-pattern>
 </servlet-mapping>
 <error-page>
  <exception-type>java.lang.RuntimeException</exception-type>
  <location>/Error.jsp</location>
 </error-page>
</web-app>
